In [9]:
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime

In [10]:
df=pd.read_csv('log_data.csv',delimiter=';',header=None,names=['Timestamp','Execution ID','MessageType','Message'])

In [12]:
df['Timestamp']=pd.to_datetime(df['Timestamp'],format='%Y-%m-%d %H:%M:%S')

Pivot table: In the world of data, pivoting data is a data processing technique used to reshape tabular data by converting rows into columns.

It is mostly used when we have categories in a certain column, and we want to shrink the table.

In [14]:
pivot_df=df.pivot_table(index='Timestamp',columns='MessageType',values='Message',aggfunc='count',fill_value=0)

In [15]:
pivot_df

MessageType          error  information  warning
Timestamp
2023-08-30 09:00:00      0            1        0
2023-08-30 09:00:01      0            0        3
2023-08-30 09:00:05      0            1        0
2023-08-30 09:00:10      0            1        0
2023-08-30 09:00:15      1            0        0
...                    ...          ...      ...
2023-08-30 09:06:38      0            1        0
2023-08-30 09:06:40      0            1        0
2023-08-30 09:06:45      0            0        1
2023-08-30 09:06:50      0            1        0
2023-08-30 09:06:55      0            1        0

[73 rows x 3 columns]

In [16]:
pivot_df.reset_index(inplace=True)
pivot_df

MessageType           Timestamp  error  information  warning
0           2023-08-30 09:00:00      0            1        0
1           2023-08-30 09:00:01      0            0        3
2           2023-08-30 09:00:05      0            1        0
3           2023-08-30 09:00:10      0            1        0
4           2023-08-30 09:00:15      1            0        0
..                          ...    ...          ...      ...
68          2023-08-30 09:06:38      0            1        0
69          2023-08-30 09:06:40      0            1        0
70          2023-08-30 09:06:45      0            0        1
71          2023-08-30 09:06:50      0            1        0
72          2023-08-30 09:06:55      0            1        0

[73 rows x 4 columns]